  <%- include("header") -%>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index">Weeroona Stats</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/players">Players</a></li>
        <li class="active"><a href="/games">Games</a></li>
        <li><a href="/highlights">Highlights</a></li>
      </ul>
    </div>
  </nav>

  <div id="heading">
    <h1> Games </h1>
    <!-- Search form -->
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 players-button" type="submit">Search</button>
    </form>
  </div>

  <div class="box-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Game</th>
          <th scope="col">Date</th>
          <th scope="col">Grade</th>
          <th scope="col">Result</th>
        </tr>
      </thead>
      <tbody>
        <% count = 1; %>
        <% allGames.forEach(function(game) { %>
          <tr>
            <th scope="row"><%= count %><% count++; %></th>
            <td><a href="/games/<%= game._id %>">Round <%= game.round %> VS <%= game.opponent %></a></td>
            <td><%= game.date %></td>
            <td><%= game.grade %></td>
            <td><%= game.result %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include("footer") -%>