  <%- include("header") -%>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index">Weeroona Stats</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/players">Players</a></li>
        <li><a href="/games">Games</a></li>
        <li class="active"><a href="/highlights">Highlights</a></li>
      </ul>
    </div>
  </nav>

  <div id="heading">
    <h1> Highlights </h1>
    <!-----Search Bar----->
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div class="box-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Highlight Type</th>
          <th scope="col">Highlight Description</th>
        </tr>
      </thead>
      <tbody>
        <% count = 1; %>
        <% allPlayers.forEach(function(player) { %>
          <% player.highlights.forEach(function(highlight) { %>
            <tr>
              <th scope="row"><%= count %><% count++; %></th>
              <td><%= player.firstName %> <%= player.lastName %></td>
              <td><%= highlight.type %></td>
              <td><%= highlight.description %></td>
            </tr>
          <% }); %>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include("footer") -%>