<%- include("header") -%>
<link rel="stylesheet" href="css/styles.css">

  <div id="heading">
    <h1> Players </h1>
    <!-- Search form -->
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-primary" href="/addPlayer" role="button">Add Player</a>
  </div>

  <div class="box-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Total Games</th>
          <th scope="col">Total Goals</th>
        </tr>
      </thead>
      <tbody>
        <% count = 1; %>
        <% allPlayers.forEach(function(player) { %>
          <tr>
            <th scope="row"><%= count %><% count++; %></th>
            <td><a href="/players/<%= player._id %>"><%= player.firstName %> <%= player.lastName %></a></td>
            <td><%= player.games %></td>
            <td><%= player.goals %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

<%- include("footer") -%>