<%- include("header") -%>
<link rel="stylesheet" href="../css/styles.css">

  <div id="heading">
    <h1><%= player.firstName %> <%= player.lastName %></h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <p><b>First Name: </b><%= player.firstName %></p>
          <p><b>Last Name: </b><%= player.lastName %></p>
          <p><b>Games: </b><%= player.games %></p>
          <p><b>Goals: </b><%= player.goals %></p>
          <p><b>Address: </b><%= player.address %></p>
          <p><b>Suburb: </b><%= player.suburb %></p>
          <p><b>State: </b><%= player.state %></p>
          <p><b>Postcode: </b><%= player.postcode %></p>
          <p><b>Home Number: </b><%= player.homeNumber %></p>
          <p><b>Mobile Number: </b><%= player.mobileNumber %></p>
          <p><b>Fax Number: </b><%= player.fax %></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="box">
          <!-- recent games table -->
          <h3 >Recent Games</h3>
          <div class="small-box-table">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Opponent</th>
                  <th scope="col">Result</th>
                  <th scope="col">Date</th>
                  <th scope="col">Goals</th>
                  <th scope="col">Behinds</th>
                </tr>
              </thead>
              <tbody>
                <% count = 1; %>
                  <% player.gamesPlayed.forEach(function(game) { %>
                    <% if (count <= 5) {%>
                      <tr>
                        <th scope="row"><%= count %><% count++; %></th>
                        <td><a href="/games/<%= game.gameId %>">opponent</a></td>
                        <td>result</td>
                        <td>date</td>
                        <td><%= game.goals %></td>
                        <td><%= game.behinds %></td>
                      </tr>
                    <% } %>
                  <% }); %>
              </tbody>
            </table>
          </div>

          <!-- highlights table -->
          <h3>Highlights</h3>
          <div class="small-box-table">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Opponent</th>
                  <th scope="col">Result</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <% count = 1; %>
                <% player.highlights.forEach(function(highlight) { %>
                  <tr>
                    <th scope="row"><%= count %><% count++; %></th>
                    <td><a href="/games/<%= highlight.gameId %>">opponent</a></td>
                    <td>result</td>
                    <td>date</td>
                    <td><%= highlight.type %></td>
                    <td><%= highlight.description %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>

          <!-- seasons table -->
          <h3 >Seasons</h3>
          <div class="small-box-table">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Games</th>
                  <th scope="col">Wins</th>
                  <th scope="col">Goals</th>
                  <th scope="col">Finals</th>
                </tr>
              </thead>
              <tbody>
                <% count = 1; %>
                <% player.gamesPlayed.forEach(function(game) { %>
                  <% if (count <= 5) {%>
                    <tr>
                      <th scope="row"><%= count %><% count++; %></th>
                      <td><a href="/games/<%= game.gameId %>">opponent</a></td>
                      <td>result</td>
                      <td>date</td>
                      <td><%= game.goals %></td>
                    </tr>
                  <% } %>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("footer") -%>